{% extends 'base.html.twig' %}

{% block title %}Kurs walut{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-4">
                {% if list is defined and list|length %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Waluta</th>
                        <th scope="col">Kod</th>
                        <th scope="col">Kurs (stosunek do PLN)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in list|sort((a, b) => a.getCurrency <=> b.getCurrency) %}
                    <tr>
                        <td>{{ record.getCurrency }}</td>
                        <td>{{ record.getCode }}</td>
                        <td>{{ record.getMid|round(5, 'floor') }} zł</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h1 class="text-center">Brak rekordów w bazie danych</h1>
                {% endif %}
                <a class="btn btn-primary float-right" href="{{ path('currency_process') }}" role="button">Pobierz dane</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
